<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Anna</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <div class="app">
        <header class="header-fixed"
            style="background-color: #fff; padding-bottom: 5px; border-bottom: 1px solid #dcdcdd;">
            <div class="grid wide">
                <nav class="navbar hide-on-mb-tl">
                    <ul class="navbar-list">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <li>
                                <a href="/">
                                    <img style="width: 48px; height: 28px; cursor: pointer;"
                                        src="/img/Assassins-Creed-Logo-removebg-preview.png" alt="">
                                </a>
                            </li>
                            <li class="hoverHeader" style="margin-left: 20px; cursor: pointer;">
                                <h2>Đang theo dõi</h2>
                            </li>
                            <li class="hoverHeader" id="browse" style="margin-left: 30px; cursor: pointer;">
                                <h2>Duyệt</h2>
                            </li>
                        </div>
                    </ul>

                    <ul class="navbar-list">
                        <div class="header__search" style="display: flex; align-items: center;">
                            <div class="header__search-input-wrap">
                                <input type="text" class="header__search-input" style="border: 1px solid #333;"
                                    placeholder="Search">
                            </div>
                            <button class="header__search-btn">
                                <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </ul>

                    <ul class="navbar-list">
                        <% if (userName) { %>
                            <div>
                                <svg id="bitMenu" width="20px" height="20px" version="1.1"
                                    viewBox="0 0 20 20" x="0px" y="0px" aria-hidden="true" focusable="false"
                                    class="ScIconSVG-sc-1q25cff-1 dSicFr mr-5 cs-p iconBits">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M3 12l7-10 7 10-7 6-7-6zm2.678-.338L10 5.487l4.322 6.173-.85.728L10 11l-3.473 1.39-.849-.729z">
                                    </path>
                                </svg>
                                <ul class="bits-menu">
                                    <li class="navbar-user-item">
                                        <div style="padding: 8px 16px;" class="d-flex align-item-center">
                                            <span style="text-align: center;" class="w-100">
                                                <div style="color: #333; font-weight: 550;">Mua Anna</div>
                                                <div>Bạn có 0 Anna</div>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="navbar-user-item navbar-user-item--separate">
                                        <div style="padding: 10px 0;">
                                            <div style="color: #333;" class="ml-10">Giá được hiển thị
                                                VND
                                            </div>
                                        </div>
                                    </li>
                                    <li class="navbar-user-item navbar-user-item--separate">
                                        <div style="padding: 8px 16px;"
                                            class="d-flex align-item-center justify-content-between">
                                            <div>
                                                <div>
                                                    <span style="font-weight: bolder;">20 Anna</span>
                                                </div>
                                                <div class="d-flex">
                                                    <img style="width: 25px; height: 25px;" src="/img/bit1.png"
                                                        alt="">
                                                    <img style="width: 25px; height: 25px;" src="/img/bit2.png"
                                                        alt="">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="mt-3">
                                                    <button id="btnFinalBits" class="btn btn--primary">20,000</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="navbar-user-item navbar-user-item--separate">
                                        <div style="padding: 8px 16px;"
                                            class="d-flex align-item-center justify-content-between">
                                            <div>
                                                <div>
                                                    <span style="font-weight: bolder;">50 Anna</span>
                                                </div>
                                                <div class="d-flex">
                                                    <img style="width: 25px; height: 25px;" src="/img/bit1.png"
                                                        alt="">
                                                    <img style="width: 25px; height: 25px;" src="/img/bit2.png"
                                                        alt="">
                                                    <img style="width: 25px; height: 25px;" src="/img/bit3.png"
                                                        alt="">
                                                    <img style="width: 25px; height: 25px;" src="/img/bit4.png"
                                                        alt="">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="mt-3">
                                                    <button id="btnFinalBits" class="btn btn--primary">50,000</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="navbar-user-item navbar-user-item--separate">
                                        <div style="padding: 8px 16px;"
                                            class="d-flex align-item-center justify-content-between">
                                            <div>
                                                <div>
                                                    <span style="font-weight: bolder;">100 Anna</span>
                                                </div>
                                                <div class="d-flex">
                                                    <img style="width: 25px; height: 25px;" src="/img/bit1.png"
                                                        alt="">
                                                    <img style="width: 25px; height: 25px;" src="/img/bit2.png"
                                                        alt="">
                                                    <img style="width: 25px; height: 25px;" src="/img/bit3.png"
                                                        alt="">
                                                    <img style="width: 25px; height: 25px;" src="/img/bit4.png"
                                                        alt="">
                                                    <img style="width: 25px; height: 25px;" src="/img/bit5.png"
                                                        alt="">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="mt-3">
                                                    <button id="btnFinalBits" class="btn btn--primary">100,000</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <li id="menuAvt" class="navbar-item navbar-user" >
                                <img src="/img/avt_user.png" alt="avatar" class="navbar-user-avt">
                                <ul class="navbar-user-menu">
                                    <li class="navbar-user-item">
                                        <div id="userProfile" style="padding: 8px 16px;" class="d-flex align-item-center">
                                            <img src="/img/avt_user.png" class="navbar-user-avt" alt="">
                                            <span style="color: #333; font-weight: 550;" class="ml-10"><%= userName %></span>
                                        </div>
                                    </li>
                                    <li id="userChannel" class="navbar-user-item navbar-user-item--separate">
                                        <div style="padding: 8px 16px;" class="d-flex align-item-center">
                                            <i style="color: #333;" class="fa-solid fa-camera"></i>
                                            <span id="channels" style="color: #333;" class="ml-10">Kênh</span>
                                        </div>
                                    </li>
                                    <li id="creatorDashboard" class="navbar-user-item navbar-user-item--separate">
                                        <div style="padding: 8px 16px;" class="d-flex align-item-center">
                                            <i style="color: #333;" class="fa-solid fa-clipboard"></i>
                                            <span style="color: #333;" class="ml-10">Thống kê doang thu
                                                </span>
                                        </div>
                                    </li>
                                    <li id="signsubs" class="navbar-user-item navbar-user-item--separate">
                                        <div style="padding: 8px 16px;" class="d-flex align-item-center">
                                            <i style="color: #333;" class="fa-regular fa-star"></i>
                                            <span style="color: #333;" class="ml-10">Gói đăng ký theo dõi</span>
                                        </div>
                                    </li>
                                    <li class="navbar-user-item">
                                        <div style="padding: 8px 16px;" class="d-flex align-item-center">
                                            <i style="color: #333;" class="fa-solid fa-wallet"></i>
                                            <span id="twitchWallet" style="color: #333;" class="ml-10">Ví Anna</span>
                                        </div>
                                    </li>
                                    <li class="navbar-user-item navbar-user-item--separate">
                                        <div style="padding: 8px 16px;" class="d-flex align-item-center">
                                            <i style="color: #333;" class="fa-solid fa-gear"></i>
                                            <span id="setting" style="color: #333;" class="ml-10">Cài đặt</span>
                                        </div>
                                    </li>
                                    <li class="navbar-user-item navbar-user-item--separate">
                                        <form action="/logout" method="get">
                                            <button id="logout" style="padding: 8px 16px;" class="d-flex align-item-center">
                                                <i style="color: #333;" class="fa-solid fa-arrow-right-from-bracket"></i>
                                                <span style="color: #333;" class="ml-10">Đăng xuất</span>
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <%} else { %>
                                <div id="formLoginARegister" class="d-flex">
                                    <li style="color: var(--primary-color-2);"
                                        class="navbar-item navbar-item--bold navbar-item--separate js-modal-register">Đăng ký
                                    </li>
                                    <li style="color: var(--primary-color-2);"
                                        class="navbar-item navbar-item--bold js-modal-login">
                                        Đăng nhập</li>
                                </div>
                            <% } %>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="app__container">
            <div class="grid wide">
                <div class="row sm-gutters app__content">
                    <div id="layout2_10" class="col l-2 nav-fixed">
                        <div style="height: 100%; position: sticky;" class="category">
                            <div
                                style="display: flex; justify-content: space-between; align-items: center; padding: 0 16px 0 0;">
                                <h3 class="category__heading">
                                    Dành cho bạn
                                </h3>
                                <i id="toggleLayout2_10" class="fa-solid fa-arrow-left-long cs-p"></i>
                            </div>

                            <div style="display: flex; align-items: center; justify-content: space-between;"
                                class="category-list-2">
                                <p style="color: #89898b;">Kênh đã theo dõi</p>
                                <i class="fa-solid fa-angle-down"></i>
                            </div>
                            <div class="category-list-2"
                                style="display: flex; align-items: center; justify-content: space-between;">
                                <div style="display: flex; align-items: center;">
                                    <img src="/img/img_cat1.png"
                                        style="width: 30px; height: 30px; border-radius: 9000px;" alt="">
                                    <p style="margin-left: 10px;">IsurugiAyami</p>
                                </div>
                                <p>Offline</p>
                            </div>

                            <div class="category-list-2"
                                style="display: flex; align-items: center; justify-content: space-between;">
                                <div style="display: flex; align-items: center;">
                                    <img src="/img/img_cat1.png"
                                        style="width: 30px; height: 30px; border-radius: 9000px;" alt="">
                                    <p style="margin-left: 10px;">IsurugiAyami</p>
                                </div>
                                <p>Offline</p>
                            </div>

                            <div class="category-list-2"
                                style="display: flex; align-items: center; justify-content: space-between;">
                                <div style="display: flex; align-items: center;">
                                    <img src="/img/img_cat1.png"
                                        style="width: 30px; height: 30px; border-radius: 9000px;" alt="">
                                    <p style="margin-left: 10px;">IsurugiAyami</p>
                                </div>
                                <p>Offline</p>
                            </div>

                            <div class="category-list-2"
                                style="display: flex; align-items: center; justify-content: space-between;">
                                <div style="display: flex; align-items: center;">
                                    <img src="/img/img_cat1.png"
                                        style="width: 30px; height: 30px; border-radius: 9000px;" alt="">
                                    <p style="margin-left: 10px;">IsurugiAyami</p>
                                </div>
                                <p>Offline</p>
                            </div>

                            <div class="category-list-2"
                                style="display: flex; align-items: center; justify-content: space-between;">
                                <div style="display: flex; align-items: center;">
                                    <img src="/img/img_cat1.png"
                                        style="width: 30px; height: 30px; border-radius: 9000px;" alt="">
                                    <p style="margin-left: 10px;">IsurugiAyami</p>
                                </div>
                                <p>Offline</p>
                            </div>
                        </div>
                    </div>

                    <!-- menu click -->
                    <div style="display: none;" id="navFixedLayout2_10" class="l-1 nav-toggle">
                        <div style=" height: 100%; margin-left: 2px;" class="category" data-condition="minimized">
                            <div class="p-16" style="text-align: center; font-size: 18px;">
                                <i id="toggleLayout2_10Back" class="fa-solid fa-arrow-right cs-p"></i>
                            </div>
                            <div class="category-list-2">
                                <div>
                                    <img src="/img/img_cat1.png"
                                        style="width: 30px; height: 30px; border-radius: 9000px;" alt="">
                                </div>
                            </div>
                            <div class="category-list-2 mt-20">
                                <div>
                                    <img src="/img/img_cat1.png"
                                        style="width: 30px; height: 30px; border-radius: 9000px;" alt="">
                                </div>
                            </div>
                            <div class="category-list-2">
                                <div>
                                    <img src="/img/img_cat1.png"
                                        style="width: 30px; height: 30px; border-radius: 9000px;" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="contentLayout2_10" class="col l-10 content-fixed">
                        <h1 class="text-head">Đang theo dõi</h1>
                        <div style="margin-top: 58px;">
                            <div style="font-weight: bolder; font-size: 16px;">
                                Kênh đang theo dõi
                            </div>
                            <% if(streamers){ %>
                                <% streamers.forEach((x) => {%>
                                    <div class="row sm-gutters">
                                        <div class="col l-2-4">
                                            <!-- product item -->
                                            <a href="/live/<%= x.name %>" class="home-product-item">
                                                <img style="width: 100%; height: 170px;" class="img-live-style"
                                                    src="/img/live1.jpg" alt="">
    
                                                <div style="display: flex; margin-top: 8px;">
                                                    <img src="/img/img_cat1.png" class="style-img-live" alt="">
                                                    <div class="ml-5" style="width: 100%;">
                                                        <div
                                                            style="display: flex; justify-content: space-between; width: 100%;">
                                                            <span class="restyle-p ml-5 header__cart-item-name"
                                                                style="font-weight: bolder;">!MOUNT🔴!PARAGON!
                                                                DROPS KAKKAKAK AKAOAIAIAOSIGAGA
                                                            </span>
                                                            <i style="margin-right: 8px;"
                                                                class="fa-solid fa-ellipsis-vertical"></i>
                                                        </div>
                                                        <p class="ml-5 restyle-p mt-3"><%= x.name %></p>
                                                        <p class="ml-5 restyle-p mt-3">Diablo IV</p>
                                                    </div>
                                                </div>
        
                                                <div class="home-product-item__favourite">
                                                    <span>LIVE</span>
                                                </div>
                                            </a>
                                        </div>
                                <%}) %>
                            <%}else {%>
                                <div class="row sm-gutters">
                                    <div style="text-align: center;" class="col l-12">
                                        <h3>Hiện không có stremer trực tuyến </h3>
                                    </div>
                            <%} %>
                            <!-- <div class="row">
                                <div class="c-12 mt-8"
                                    style="display: flex; justify-content: center; align-items: center;">
                                    <span style="color: var(--primary-color-2); cursor: pointer; font-size: 12px;">Show
                                        more</span>
                                    <i class="fa-solid fa-angle-down ml-5"
                                        style="margin-top: 3px; color: var(--primary-color-2);"></i>
                                </div>
                            </div> -->
                        </div>

                        <!-- 2I -->
                        <div style="margin-top: 40px;">
                            <div style="font-weight: bolder; margin-top: 8px; font-size: 16px;">
                                Kênh đã đăng ký
                            </div>
                            <% if(streamers){ %>
                                <% streamers.forEach((x) => {%>
                                    <div class="row sm-gutters">
                                        <div class="col l-2-4">
                                            <!-- product item -->
                                            <a href="/live/<%= x.name %>" class="home-product-item">
                                                <img style="width: 100%; height: 170px;" class="img-live-style"
                                                    src="/img/live1.jpg" alt="">
    
                                                <div style="display: flex; margin-top: 8px;">
                                                    <img src="/img/img_cat1.png" class="style-img-live" alt="">
                                                    <div class="ml-5" style="width: 100%;">
                                                        <div
                                                            style="display: flex; justify-content: space-between; width: 100%;">
                                                            <span class="restyle-p ml-5 header__cart-item-name"
                                                                style="font-weight: bolder;">!MOUNT🔴!PARAGON!
                                                                DROPS KAKKAKAK AKAOAIAIAOSIGAGA
                                                            </span>
                                                            <i style="margin-right: 8px;"
                                                                class="fa-solid fa-ellipsis-vertical"></i>
                                                        </div>
                                                        <p class="ml-5 restyle-p mt-3"><%= x.name %></p>
                                                        <p class="ml-5 restyle-p mt-3">Diablo IV</p>
                                                    </div>
                                                </div>
        
                                                <div class="home-product-item__favourite">
                                                    <span>LIVE</span>
                                                </div>
                                            </a>
                                        </div>
                                <%}) %>
                            <%}else {%>
                                <div class="row sm-gutters">
                                    <div style="text-align: center;" class="col l-12">
                                        <h3>Hiện không có stremer trực tuyến </h3>
                                    </div>
                            <%} %>
                            <!-- <div class="row">
                                <div class="c-12 mt-8"
                                    style="display: flex; justify-content: center; align-items: center;">
                                    <span style="color: var(--primary-color-2); cursor: pointer; font-size: 12px;">Show
                                        all</span>
                                    <i class="fa-solid fa-angle-right ml-5"
                                        style="margin-top: 3px; color: var(--primary-color-2);"></i>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- modal layout -->
            <div class="modal js-modal">
                <div class="modal__overlay js-modal__overlay"></div>

                <div class="modal__body js-modal__body">
                    <!-- Form regitser -->
                    <div class="auth-form js-auth-form">
                        <div class="auth-form__container">
                            <div class="auth-form__header">
                                <h3 class="auth-form__heading">Đăng ký</h3>
                                <span id="redirectLogin" class="auth-form__switch-btn">Đăng nhập</span>
                            </div>

                            <div class="auth-form__form">
                                <div class="auth-form__group">
                                    <input type="text" class="auth-form__input" placeholder="Enter name">
                                </div>
                                <div class="auth-form__group">
                                    <input type="text" class="auth-form__input" placeholder="Enter email">
                                </div>
                                <div class="auth-form__group">
                                    <input type="password" class="auth-form__input" placeholder="Enter password">
                                </div>
                                <div class="auth-form__group">
                                    <input type="password" class="auth-form__input" placeholder="Enter password again">
                                </div>
                            </div>

                            <div class="auth-form__aside">
                                <p class="auth-form__policy-text">
                                    Bạn đồng ý với Anna về
                                    <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a> &
                                    <a href="" class="auth-form__text-link">Chính sách bảo mật</a>
                                </p>
                            </div>

                            <div class="auth-form__controls">
                                <button id="js-modal-btn-back" class="btn auth-form__controls-back btn-normal">Trở
                                    lại</button>
                                <button id="regitser" class="btn btn--primary">Đăng ký</button>
                            </div>
                        </div>

                        <!-- <div class="auth-form__socials">
                            <a href="" class="auth-form__socials--facebook btn btn--size-s btn--width-icon">
                                <i class="auth-form__socials-icon fa-brands fa-facebook-square"></i>
                                <span class="auth-form__socials-title">
                                    Kết nối vs Facebook
                                </span>
                            </a>
                            <a href="" class="auth-form__socials--google btn btn--size-s btn--width-icon">
                                <i class="auth-form__socials-icon fa-brands fa-google"></i>
                                <span class="auth-form__socials-title">
                                    Kết nối vs Google
                                </span>
                            </a>
                        </div> -->
                    </div>

                    <!-- Form login -->
                    <div class="auth-form js-auth-form">
                        <div class="auth-form__container">
                            <div class="auth-form__header">
                                <h3 class="auth-form__heading">Đăng nhập</h3>
                                <span id="redirectRegister" class="auth-form__switch-btn">Đăng ký</span>
                            </div>

                            <div class="auth-form__form">
                                <div class="auth-form__group">
                                    <input type="text" class="auth-form__input" placeholder="Enter email">
                                </div>
                                <div class="auth-form__group">
                                    <input type="password" class="auth-form__input" placeholder="Enter password">
                                </div>
                            </div>

                            <div class="auth-form__aside">
                                <div class="auth-form__help">
                                    <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                                    <span class="auth-form__help-separate"></span>
                                    <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                                </div>
                            </div>

                            <div class="auth-form__controls">
                                <button id="js-modal-btn-back" class="btn auth-form__controls-back btn-normal">TRỞ
                                    LẠI</button>
                                <button id="login" class="btn btn--primary">ĐĂNG NHẬP</button>
                            </div>
                        </div>

                        <!-- <div class="auth-form__socials">
                            <a href="" class="auth-form__socials--facebook btn btn--size-s btn--width-icon">
                                <i class="auth-form__socials-icon fa-brands fa-facebook-square"></i>
                                <span class="auth-form__socials-title">
                                    Kết nối vs Facebook
                                </span>
                            </a>
                            <a href="" class="auth-form__socials--google btn btn--size-s btn--width-icon">
                                <i class="auth-form__socials-icon fa-brands fa-google"></i>
                                <span class="auth-form__socials-title">
                                    Kết nối vs Google
                                </span>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>

            <div id="modalBits" class="modal-package-register">
                <div class="modal-content-package-register content-fixed">
                    <span id="closeModal4" class="modal-close-package-register">&times;</span>
                    <h1>Hoàn tất mua hàng</h1>
                    <p>Tóm tắt mua hàng</p>
                    <div class="d-flex justify-content-between align-item-center">
                        <div class="d-flex">
                            <img style="width: 30px; height: 30px;" src="/img/bit2.png" alt="">
                            <div class="ml-5">
                                <h3 style="margin: 0;">300 Anna </h3>
                                <div>Mua 1 lần vào 26/6/2023</div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <div>Số lượng</div>
                            <div>
                                <input type="number" id="quantityInput" class="quantity-input" value="1" min="1">
                            </div>
                        </div>
                    </div>
                    <div class="mt-10">
                        <div class="d-flex justify-content-between">
                            <span>Bạn có Twitch Gift Card không ? <span style="color: var(--primary-color-2);">Hãy
                                    quy đổi ngay</span> </span>
                            <div class="d-flex">
                                <span style="font-weight: 550;"> Tổng cộng đã bao gồm VAT
                                </span>
                                <span class="ml-5">300.000 VND</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-8">
                        <h2>Thanh toán bằng</h2>
                        <div class="d-flex justify-content-between">
                            <form action="/pay" method="post" class="btn" style=" width: 48%; color: #fff;">
                                <input style="width: 234px; height: 34px; background-color: #f90; border: #f90;" type="submit" value="PayPal">
                            </form>
                            <button class="btn" style="width: 48%; background-color: #89898b;">Trở lại
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modalConfirmRegister" class="modal-confirm-register">
                <div class="modal-content-confirm-register content-fixed">
                    <span id="closeModalConfirmRegister" class="modal-close-confirm-register">&times;</span>
                    <h1>Xác minh địa chỉ email của bạn</h1>
                    <h4>Nhập mã xác minh của bạn</h4>
                    <div style="padding: 0 30px;">
                        <p>Chúng tôi đã gửi mã có 6 chữ số đến <span style="font-weight: bold;">khacnhut197@gmail.com.</span>
                            Hãy xác minh bạn là chủ
                            tài
                            khoản để giữ tài khoản của bạn an toàn </p>
                        <div class="d-flex justify-content-between">
                            <div style="width: 40px; height: 35px; border: 1px solid #000; border-radius: 5px;"></div>
                            <div style="width: 40px; height: 35px; border: 1px solid #000; border-radius: 5px;"></div>
                            <div style="width: 40px; height: 35px; border: 1px solid #000; border-radius: 5px;"></div>
                            <div style="width: 40px; height: 35px; border: 1px solid #000; border-radius: 5px;"></div>
                            <div style="width: 40px; height: 35px; border: 1px solid #000; border-radius: 5px;"></div>
                            <div style="width: 40px; height: 35px; border: 1px solid #000; border-radius: 5px;"></div>
                        </div>
                        <p>Cập nhật email?</p>
                        <p>Bạn cũng có thể bấm vào liên kết trong email mà chúng tôi gửi cho bạn</p>
                    </div>
                    <div style="justify-content: end;" class="d-flex">
                        <p style="color: var(--primary-color-2); margin-right: 20px;">Nhắc tôi sau</p>
                        <button class="btn btn--primary">Gửi</button>
                    </div>
                </div>
            </div>

            <script src="/js/index.js"></script>
</body>

</html>